$heading-font-family: 'Montserrat', -apple-system, system-ui, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$body-font-family: 'Montserrat', 'Zilla Slab', 'Times New Roman', sans-serif;
$font-size-root: 16px;
$data-table-expanded-content-box-shadow: 'none';
